{{#if activities}}
<div class="container-fluid">
    <div class="container" id="list"> 
        {{#each activities}}
            {{>activity this}}
        {{/each}}
    </div>
</div>
{{else}} 
    <div class="container-fluid">
        <h1>No Results</h1>
    </div> 
{{/if}}
