{{#if guides}}
<div class="container-fluid">
    <div class="container" id="list"> 
        {{#each guides}}
            {{>guide this}}
        {{/each}}
    </div>
</div>
{{else}} 
    <div class="container-fluid">
        <h1>No Results</h1>
    </div> 
{{/if}}
