<div class="container-fluid">
    <h1 class="title-header">{{header}}</h1>
    <div class="home-container" id="list"> 
        <div>
            <a href="/places" class="list-group-item landing-card">
                <div>
                    <h3 class="landing-card-title">Places</h3>
                </div>
            </a>
        </div>
        <div>
            <a href="/activities" class="list-group-item landing-card">
                <div>
                    <h3 class="landing-card-title">Activities</h3>
                </div>
            </a>
        </div>
        <div>
            <a href="/guides" class="list-group-item landing-card">
                <div>
                    <h3 class="landing-card-title">Guides</h3>
                </div>
            </a>
        </div>
        <div>
            <a href="/travelers" class="list-group-item landing-card">
                <div>
                    <h3 class="landing-card-title">Travelers</h3>
                </div>
            </a>
        </div>
    </div>
</div>
